.buttons{
  display: inline;
  padding-left: 200px;
}

.testButtons{

}

.language {
    color: #000!important;
    background-color: #f1f1f1!important
}

.bar_en{
  color: white;
  background-color: blue;
  text-align: center;
  width: 100%;
  height: 24px;
  animation: en;
  animation-duration: 4s;
}

.bar_jp{
  color: white;
  background-color: blue;
  text-align: center;
  width: 45%;
  height: 24px;
  animation: jp;
  animation-duration: 8s;
}

.bar_afr{
  color: white;
  background-color: blue;
  text-align: center;
  width: 90%;
  height: 24px;
  animation: af;
  animation-duration: 6s;
}


img{
  width:600px;
  height: 600px;
  object-fit: cover;
}

html{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 46%;
}


body{
  margin-left: 120px;
  margin-right: 120px;
  margin-top: -50px;
  background-image: linear-gradient(to bottom, black , grey);
}

.zoe, .shane, .thapelo, .candice{
  width: 335px;
  float: left;
  padding: 5px;
  animation: test 1s linear;
}

.arrowL{
  background: transparent;
  border-color: transparent;
  color: black;
  font-size: 20px;
  margin-left: -170px;
  margin-right: 120px;
  font-family: cursive;
  text-align: left;
}

.arrowR{
  background: transparent;
  border-color: transparent;
  color: black;
  font-size: 20px;
  margin-left: 120px;
  margin-right: 120px;
  font-family: cursive;
  text-align: right;
}
#calc, #weather, #mp3, #lotto, #jp{
    width: 100px;
    height: 100px;
    border-radius: 500000px;
    float: left;
    padding: 5px;
}

.c_bar{
  color: white;
  background-color: blue;
  text-align: center;
  width: 30%;
  height: 24px;
  animation: c;
  animation-duration: 10s;
}
.js_bar{
  color: white;
  background-color: blue;
  text-align: center;
  width: 50%;
  height: 24px;
  animation: js;
  animation-duration: 8s;
}
.css_bar{
  color: white;
  background-color: blue;
  text-align: center;
  width: 75%;
  height: 24px;
  animation: css;
  animation-duration: 6s;
}
.html_bar{
  color: white;
  background-color: blue;
  text-align: center;
  width: 80%;
  height: 24px;
  animation: html;
  animation-duration: 4s;
}
.py_bar{
  color: white;
  background-color: blue;
  text-align: center;
  width: 95%;
  height: 24px;
  animation: py;
  animation-duration: 2s;
}

.zoe_pic{
  width: 223px;
  height: 288px;
}

.fab{
  font-size: 50px;
  color: black;
}

.fab:hover{
  color: blue;
  font-size: 60px;
}

@keyframes test {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

@keyframes en {
  0%   {
    background-color: red; width: 0%
  }
  100% {
    background-color: blue; width: 100%
  }
}

@keyframes af {
  0%   {
    background-color: red; width: 0%
  }
  100% {
    background-color: blue; width: 90%
  }
}

@keyframes jp {
  0%   {
    background-color: red; width: 0%
  }
  100% {
    background-color: blue; width: 45%
  }
}

@keyframes py {
  0%   {
    background-color: red; width: 0%
  }
  100% {
    background-color: blue; width: 95%
  }
}

@keyframes html {
  0%   {
    background-color: red; width: 0%
  }
  100% {
    background-color: blue; width: 80%
  }
}

@keyframes css {
  0%   {
    background-color: red; width: 0%
  }
  100% {
    background-color: blue; width: 75%
  }
}

@keyframes js {
  0%   {
    background-color: red; width: 0%
  }
  100% {
    background-color: blue; width: 50%
  }
}
@keyframes c {
  0%   {
    background-color: red; width: 0%
  }
  100% {
    background-color: blue; width: 30%
  }
}

.arrowLeft{
  position: absolute;
  padding: 16px;
  font-weight: bold;
  font-size: 90px;
  right: 73%;
  background-color: transparent;
  border-color: transparent;
  color: white;
  opacity: 50%;
  margin-top: -281px;
  float: left;
  padding: 5px;
  outline: none;
}
.arrowRight{
  position: absolute;
  width: auto;
  padding: 16px;
  font-weight: bold;
  font-size: 90px;
  left: 69%;
  background-color: transparent;
  border-color: transparent;
  color: white;
  opacity: 50%;
  margin-top: -281px;
  width: 200px;
  float: right;
  padding: 5px;
  outline: none;
}

.arrowRight:hover{
  color: black;
  opacity: 1;
  font-size: 100px;
}

.arrowLeft:hover{
  color: black;
  opacity: 1;
  font-size: 100px;
}

#mail a{
  color: black;
  text-decoration: none;
}

#mail a:hover{
  color: blue;
}
..arrowRight{
  background-color: transparent;
  border-color: transparent;
  font-size: 40px;
  float: right;
  outline: none;
}
..arrowLeft{
  background-color: transparent;
  border-color: transparent;
  font-size: 40px;
  float: left;
  outline: none;
}

.slides{
  animation: slide 1s linear;
}

@keyframes slide {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@media only screen and (max-width: 768px){
    body {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: -38px;
    background-color: skyblue;
    height: 100%;
  }
  img{
    width: 272px;
    height: 303px;
    object-fit: cover;
  }
  html{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: 100%;
background-color: skyblue;
  }
  #calc, #weather, #mp3, #lotto, #jp{
    float: left;
    padding: 5px;
    border-radius: 100%;
    display: flex;
    width: 90px;
    height: 90px;
  }
  .arrowL{
    background: transparent;
    border-color: transparent;
    color: black;
    font-size: 20px;
    margin-left: -65px;
    margin-right: 0px;
    font-family: cursive;
    text-align: left;
    outline: none;
  }

  .arrowR{
    background: transparent;
    border-color: transparent;
    color: black;
    font-size: 20px;
    margin-left: 161px;
    margin-right: -140px;
    font-family: cursive;
    text-align: right;
    outline: none;
  }
  /* .zoe, .shane, .thapelo{
    width: 153px;
    float: left;
    padding: 0px;
    animation: test 1s linear;
    height: 0px;
    font-size: 11px;
  } */
  .zoe_pic{
    width: 167px;
    height: 207px;
    overflow: scroll;
  }
.c_bar{
  color: white;
  background-color: blue;
  text-align: center;
  width: 30%;
  height: 20px;
  animation: c;
  animation-duration: 10s;
}
.js_bar{
  color: white;
  background-color: blue;
  text-align: center;
  width: 50%;
  height: 20px;
  animation: js;
  animation-duration: 8s;
}
.css_bar{
  color: white;
  background-color: blue;
  text-align: center;
  width: 75%;
  height: 20px;
  animation: css;
  animation-duration: 6s;
}
.html_bar{
  color: white;
  background-color: blue;
  text-align: center;
  width: 80%;
  height: 20px;
  animation: html;
  animation-duration: 4s;
}
.py_bar{
  color: white;
  background-color: blue;
  text-align: center;
  width: 95%;
  height: 20px;
  animation: py;
  animation-duration: 2s;
}
.arrowLeft{
  position: absolute;
  padding: 16px;
  font-weight: bold;
  font-size: 90px;
  right: 84%;
  background-color: transparent;
  border-color: transparent;
  color: white;
  opacity: 50%;
  margin-top: -167px;
  float: left;
  padding: 5px;
  outline: none;
}
.arrowRight{
  position: absolute;
  width: auto;
  padding: 16px;
  font-weight: bold;
  font-size: 90px;
  left: 74%;
  background-color: transparent;
  border-color: transparent;
  color: white;
  opacity: 50%;
  margin-top: -167px;
  width: 200px;
  float: right;
  padding: 5px;
  outline: none;
}
.fab{
  font-size: 40px;
  color: black;
}

.fab:hover{
  color: blue;
  font-size: 50px;
}

}
@media only screen and (max-width: 500px){
    body {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: -38px;
    height: 115%;
  }
  img{
    width: 198px;
    height: 200px;
    object-fit: cover;
  }
  html {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 100%;
	height: 126%;
}
  #calc, #weather, #mp3, #lotto, #jp{
    float: left;
    padding: 5px;
    border-radius: 100%;
    display: flex;
    width: 44px;
    height: 41px;
    overflow-y: hidden;
  }
  .arrowL{
    background: transparent;
    border-color: transparent;
    color: black;
    font-size: 20px;
    margin-left: -123px;
    margin-right: 0px;
    font-family: cursive;
    text-align: left;
    outline: none;
  }

  .arrowR{
    background: transparent;
    border-color: transparent;
    color: black;
    font-size: 20px;
    margin-left: 301px;
    margin-right: -140px;
    font-family: cursive;
    text-align: right;
    outline: none;
  }
  .zoe, .shane, .thapelo{
    width: 156px;
    float: left;
    padding: 5px;
    animation: test 1s linear;
    height: 186px;
  }
  .zoe_pic{
    width: 115px;
    height: 100%;
    overflow: scroll;
    padding-left: 40px;
  }
  body {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: -50px;
    background-color: white;
    height: 100%;
}
.c_bar{
  color: white;
  background-color: blue;
  text-align: center;
  width: 30%;
  height: 20px;
  animation: c;
  animation-duration: 10s;
}
.js_bar{
  color: white;
  background-color: blue;
  text-align: center;
  width: 50%;
  height: 20px;
  animation: js;
  animation-duration: 8s;
}
.css_bar{
  color: white;
  background-color: blue;
  text-align: center;
  width: 75%;
  height: 20px;
  animation: css;
  animation-duration: 6s;
}
.html_bar{
  color: white;
  background-color: blue;
  text-align: center;
  width: 80%;
  height: 20px;
  animation: html;
  animation-duration: 4s;
}
.py_bar{
  color: white;
  background-color: blue;
  text-align: center;
  width: 95%;
  height: 20px;
  animation: py;
  animation-duration: 2s;
}
.arrowLeft{
  position: absolute;
  padding: 16px;
  font-weight: bold;
  font-size: 52px;
  right: 84%;
  background-color: transparent;
  border-color: transparent;
  color: white;
  opacity: 50%;
  margin-top: -267px;
  float: left;
  padding: 5px;
}
.arrowRight{
  position: absolute;
  width: auto;
  padding: 16px;
  font-weight: bold;
  font-size: 52px;
  left: 74%;
  background-color: transparent;
  border-color: transparent;
  color: white;
  opacity: 50%;
  margin-top: -267px;
  width: 70px;
  float: right;
  padding: 5px;
}
.fab{
  font-size: 40px;
  color: black;
}

.fab:hover{
  color: blue;
  font-size: 50px;
}
#p{
  font-size: 10px;
}
#program{
  font-size: 10px;
}
.arrowRight:hover{
  color: black;
  opacity: 1;
  font-size: 61px;
}

.arrowLeft:hover{
  color: black;
  opacity: 1;
  font-size: 61px;
}
.Proj{
  overflow-y: hidden;
  height: 56px;
}
.buttons {
	display: inline;
	padding-left: 30px;
}
}
}
