.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #000000;
  animation: disappear 7s linear forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes disappear {
  0%,
  90% {
    opacity: 1;
    z-index: 100;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.loader {
  border-right: 5px solid #FFD700;
  border-bottom: 5px solid #001D4A;
  border-left: 5px solid #E8E9EB;
  border-top: 5px solid #A31621;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
